@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     font-family: "Inter", sans-serif;
}
p {
     font-size: 17px;
}
a {
     font-size: 16px;
}
.box {
     background-color: #fbf8f3;
     overflow: hidden;
     
}

.centered {
     margin: auto;
     width: 90%;
}
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 10px;
}
nav ul {
     display: flex;
     justify-content: space-between;
}
nav ul li {
     padding: 10px;
}
nav ul li a {
     color: #636363;
}
.brand h1,
.brand h2,
.brand h3 {
     color: #1da1f2;
}
.heading {
     width: 60%;
     font-size: 42px;
}
.desc {
     width: 80%;
     margin-top: 10px;
     margin-bottom: 15px;
     color: #636363;
     line-height: 24px;
}
.signin {
     background-color: #1da1f2;
     color: #fff;
     padding: 10px;
     text-align: center;
     font-size: 14px;
     border-radius: 5px;
}
.signin img {
     max-height: 17px;
     transform: translatey(0.15rem);
}
.avatarfiles {
     margin-top: 20px;
}
.avatar {
     position: relative;
     margin-left: -23px;
     max-height: 40px;
}
.main {
     display: grid;
     grid-template-columns: 70% 30%;
}
.left {
     margin-top: 40px;
}
.right {
     width: 100%;
     margin-top: 10px;
     margin-bottom: 30px;
}
.shade {
     color: #1da1f2;
}
.vertical {
     padding: 20px;
     border-radius: 4px;
     border: 1px solid #c2c2c2;
     margin: 10px;
     align-content: stretch;
}
.vertical p {
     color: #3c3c3c;
}
.horizontal {
     display: flex;
     justify-content: center;
     align-items: center;
}
.pro {
     display: flex;
     justify-content: space-between;
}
.pro-heading {
     display: flex;
}
.name {
     font-size: 16px;
     line-height: 26px;
}
.ids {
     font-size: 10px;
}
.logo {
     max-height: 20px;
}
.ref {
     background-color: #d7f5f5;
}
.ref-row {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 1em;
}
.ref-date {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.ref-ver {
     background-color: #fff;
     border-radius: 5px;
     padding: 15px;
}
.first {
     grid-row: 1/1;
}
.second {
     grid-row: 1/4;
     margin-bottom: 30px;
}
.third{
     grid-row: 1/2;
}
.iconheart {
     max-height: 15px;
}
.ref-main p {
     line-height: 27px;
     margin-top: 10px;
     color: #3c3c3c;
     margin-bottom: 10px;
}
.ref1 h2 {
     margin-bottom: 20px;
     font-size: 25px;
     margin-top: 20px;
     padding-top: 30px;
}
.helpfeature {
     font-size: 25px;
     width: 45%;
     margin-top: 15px;
     margin-bottom: 7px;
}
.price {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
}
.price-details {
     border: 1px solid #ffad23;
     padding: 15px 20px;
     border-radius: 5px;
     background-color: #fff7e9;
}
.price-details p {
     line-height: 32px;
}
.price-main {
     text-align: center;
     margin-bottom: 20px;
}
.price-main p {
     font-size: 15px;
     color: #3c3c3c;
     margin-top: 10px;
}
.amount {
     font-size: 32px;
     color: #000;
}
.price-details .price,
.timeperiod {
     color: #3c3c3c;
}
.price-details img {
     max-height: 14px;
}
hr {
     margin-bottom: 10px;
}
.try {
     text-align: center;
     width: 100%;
     margin-top: 10px;
}
.try-button {
     background-color: #1da1f2;
     color: #fff;
     padding: 10px;
     text-align: center;
     font-size: 14px;
     border-radius: 5px;
}
footer {
     background-color: #d7f5f5;
     margin-top: 20px;
     padding: 14px;
}
.footer-contain {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.footer-contain a {
     padding: 10px;
}
.policy {
     display: flex;
}
.policy a {
     color: #000;
}
.vertical h4 {
     margin-top: 10px;
     margin-bottom: 10px;
}
.vertical p {
     line-height: 24px;
}
.menu {
     display: none;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
     .intro {
          display: flex;
          flex-direction: column-reverse;
          width: 100%;
          margin-top: 10px;
     }
     .left {
          margin-top: 10px;
     }
     .right img {
          width: 100%;
     }
     #main-img {
          content: url("Assets/Hero\ Image\ \(Tablet\ View\).png");
     }
     .header {
          width: 100%;
          font-size: 44px;
     }
     .helpfeature {
          width: 50%;
     }
     .horizontal {
          flex-direction: column;
     }
     .ref-horizontal {
          display: flex;
          flex-direction: column;
     }
     .two {
          margin-bottom: 0px;
     }
     .one,
     .two,
     .three {
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
     }
}
@media screen and (max-width: 500px) {
     .right img {
          width: 100%;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 0px;
     }
     .left {
          margin-top: 10px;
     }
     .intro {
          display: flex;
          flex-direction: column-reverse;
          gap: 0em;
          margin-top: 10px;
     }
     #main-img {
          content: url("Assets/Hero\ Image\ \(Desktop\ View\).png");
     }

     .heading {
          width: 100%;
          font-size: 30px;
     }
     .desc {
          line-height: 27px;
     }
     .login {
          display: flex;
          flex-direction: column;
          text-align: center;
     }
     .signin {
          padding: 17px 30px;
          font-size: 21px;
          font-weight: 500;
          margin-bottom: 15px;
     }
     .helpfeature {
          padding-top: 9px;
          font-size: 25px;
          width: 70%;
     }
     .horizontal {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .ref-horizontal {
          display: flex;
          flex-direction: column;
          gap: 1em;
     }
     .two {
          grid-row: 1/4;
          margin-bottom: 0px;
     }
     .one,
     .two,
     .three {
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
     }
     .price {
          margin: 10px 40px;
     }
     .footer-contain {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
     }
     /* ul li {
          display: none;
     } */
     nav {
          flex-direction: column;
          align-items: flex-start;
     }
     nav ul {
          display: flex;
          flex-direction: column;
          display: none;
          text-align: center;
          z-index: 999;
          left: 0;
          right: 0;
          position: absolute;
          top: 50px;
     }
     .menu {
          display: block;
          position: absolute;
          top: 1.8em;
          right: 0.95em;
     }
     nav {
          padding-top: 15px;
     }
     .join {
          width: 100%;
          text-align: center;
     }
}
@media screen and (min-width: 801px) {
     .contain, 
     .center,
     .ref
     .price,
     .footer-contain center{
          padding: 0px 30px 0px 30px;
     } 

     #main-img{
          padding-right: 30px;
          
     } 
}
